*
{
    color:#707070;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html
{
    scroll-behavior: smooth;
}
.header
{
    padding:30px 85px 30px 85px;
}
.underline
{
    position: relative;
    left: 150px;
    width: 298px;
    background-color: #F56F70;
    margin-top: 15px;
    margin-bottom: 45px;
    height: 7px;
}
#logo
{
    color:#F56F70;
    text-decoration: none;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header ul
{
    list-style-type: none;
    float: right;
    padding-top: 13px;
}
.header li
{
    float: left;
    padding-left: 40px;
}
.header li a
{
    text-decoration: none;
    color: #707070;
    font-weight: 800;
    font-size: 20px;
}
.home img
{
    float: right;
    margin-right: -40px;
    margin-top: -40px;
}
.home-content
{
    padding: 15px 85px 15px 105px;
    margin-left: -20px;
}
.home-content h2
{
    margin-top: 70px;
    font-size: 105px;
    font-family: Marvel;
    color: #F56F70;
}
.home-content p
{
    color:#707070;
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 45px;
    line-height: 32px;
}
.home-content a
{
    color: white;
    font-size: 25px;
    text-decoration: none;
    padding: 15px 35px 15px 35px;
    background-color: #F56F70;
    border-radius: 7px;
    font-weight: bold;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.home-content a:hover
{
    border: 5px solid #F56F70;
    background-color: white;
    color: #F56F70;
    padding: 10px 30px 10px 30px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);
}
.why
{
    margin-top: 400px;
    padding: 30px 85px 30px 0px;
    margin-bottom: 750px;
}
.why img
{
    float: left;
    height: 640px;
}
.why-content
{
    float: right;
    position: relative;
    margin-left: 50px;
    width: 600px;
}
.why-content img
{
    height: 55px;
}
.why-content h2
{
    color: black;
    font-size: 45px;
    text-align: center;
    margin-top: 135px;
}
.why-content p
{
    font-size: 25px;
    line-height: 40px;
}
.arrow
{
    position: relative;
    top: 50px;
    left: 250px;
}
.services
{
    padding: 25px 85px 25px 85px;
    margin-bottom: 700px;
}
.page-head
{
    color: black;
    font-size: 45px;
    text-align: center;
}
.services .underline
{
    left: 440px;
    margin-bottom: 55px;
}
.card
{
    padding: 15px 85px 15px 85px;
}
.card1
{
    float: left;
    width: 285px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    border-radius: 40px;
    margin-right: 100px;
    margin-left: 60px;
}
.card1 h2
{
    padding: 25px;
    font-weight: bold;
}
.card1 img
{
    height: 213px;
    border-radius: 40px 40px 0 0;
}

.card2
{
    float: left;
    width: 285px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    border-radius: 40px;
    margin-right: 100px;
}
.card2 h2
{
    padding: 25px;
    font-weight: bold;
}
.card2 img
{
    height: 213px;
    width: 100%;
    border-radius: 40px 40px 0 0;
}
.card3
{
    float: left;
    width: 285px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    border-radius: 40px;
}
.card3 h2
{
    padding: 25px;
    font-weight: bold;
}
.card3 img
{
    height: 213px;
    width: 100%;
    border-radius: 40px 40px 0 0;
}
.plans
{
    margin-top:100px;
}
.plans .underline
{
    left: 525px;
}
.plan-content h3
{
    color: black;
    font-size: 35px;
    text-align:center;
    margin-top: 20px;
}
.plan-content
{
    padding: 15px 70px 15px 85px;
    float: left;
    width: 500px;
}
.plan-content .underline
{
    width: 210px;
    left: 145px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.plan-content p
{
    font-size:25px;
}
.plan-content a
{
    color: white;
    text-decoration: none;
    background-color: #F56F70;
    padding: 15px 25px 15px 25px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 7px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    position: relative;
    top: 45px;
}
.plan-content a:hover
{
    border: 5px solid #F56F70;
    background-color: white;
    color: #F56F70;
    padding: 10px 20px 10px 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);
}
.plan1 img
{
    height: 450px;
    float:right;
    position: relative;
    border-radius: 7px;
    right: 115px;
}
.vline
{
    background-color: #F56F70;
    height: 280px;
    width: 10px;
    float: left;
    margin-top: 70px;
    margin-left: 65px;
}
.plan2
{
    display: none;
}
.plan3
{
    display:none;
}
.plan-controls
{
    position: relative;
    top: 375px;
    left: -465px;
}
.plan-controls button
{
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color:#F56F70;
    border: 0;
    padding: 10px 20px 10px 20px;
    border-radius: 7px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-top: 25px;
}
.plan-controls button:hover
{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0);
    border: 5px solid #F56F70;
    background-color: white;
    color: #F56F70;
    padding: 7px 17px 7px 17px;
}
.about
{
    margin-top: 650px;
}
.pro
{
    float: left;
    margin-top: 25px;
    position: relative;
    left: 75px;
}
#pro1
{
    background-color:#F56F70;  
    height: 5px;
    width: 150px;
    float: left;
    margin-left: 10px;
}
#pro2
{
    background-color:#707070;
    height: 5px;
    width: 150px;
    margin-left: 10px;
    float: left;
}
#pro3
{
    background-color:#707070;
    height: 5px;
    width: 150px;
    margin-left: 10px;
    float: left;
}
.about
{
    margin-bottom: 650px;
    padding: 15px 85px 15px 85px;
}
.about .underline
{
    left: 470px;
    width: 240px;
}
.about img
{
    float:left;
    height: 450px;
}
.about-content
{
    float: right;
    width: 600px;
    font-size: 30px;
    margin-top: 80px;
}
.about-content img
{
    height: 55px;
    margin-left: -25px;
}
.contact
{
    padding: 15px 85px 15px 85px;
}
.contact .underline
{
    left: 450px;
}
.contact img
{
    float:left;
}
.contact-form
{
    position: relative;
    border: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    width: 300px;
    padding: 15px 30px 15px 30px;
    float: right;
    border-radius: 10px;
    margin-bottom: 50px;
    padding: 55px 55px;
    right: 50px;
}
.contact-form p
{
    color: black;
    font-size: 35px;
    text-align: center;
    font-weight: bold;
}
.contact a img
{
    margin-top: 300px;
    margin-left: 55px;
    height: 55px;
}
.contact-form input
{
    margin-top: 25px;
    border: 0;
    border-bottom: 4px solid #F56F70;
    font-size: 20px;
    padding-right: 80px;
}
.contact-form button
{
    color: white;
    background-color: #F56F70;
    border: 0;
    padding: 10px 20px 10px 20px;   
    font-size: 20px;
    border-radius: 7px;
    margin-top: 25px;
    margin-left: 60px;
}